body {
    font-size: 24px;
}

// 标题
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}
h1 {
    font-size: 1.6rem !important;
}
h2 {
    font-size: 1.5rem !important;
}
h3 {
    font-size: 1.45rem !important;
}
h4 {
    font-size: 1.4rem !important;
}
h5 {
    font-size: 1.35rem !important;
}
h6 {
    font-size: 1.3rem !important;
}



// 侧边栏样式
.sidebar {
    width: 18em;
}

.sidebar-heading {
    font-weight: normal;
    font-size: 20px;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
    font-weight: normal !important;
    font-size: 20px !important;
    padding-left: 20px;
}

a.sidebar-link {
    font-size: 18px;
}

// 内容
.page-nav, .page-edit, .theme-default-content:not(.custom) {
    max-width: 70%;
    font-size: 20px;
}

.content__default,
.page .page-title {
    max-width: 70% !important;
    font-size: 20px !important;
}
