body {
    font-size: 24px;
}

// 侧边栏样式
.sidebar {
    width: 18em;
}

.sidebar-heading {
    font-weight: normal;
    font-size: 20px;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
    font-weight: normal !important;
    font-size: 20px !important;
    padding-left: 20px;
}

a.sidebar-link {
    font-size: 18px;
}

// 内容
.page-nav, .page-edit, .theme-default-content:not(.custom) {
    max-width: 70%;
    font-size: 20px;
}

.content__default,
.page .page-title {
    max-width: 70% !important;
    font-size: 20px !important;
}
